@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

h1{
    font-size: 48px;
    color: #232c3d;
}

body{
    text-align: center;
    font-family: 'Jost', sans-serif;
    background-color: #f0f5ff;
}
.wrapper {
    width: 600px;
    margin: auto;
    background-color: write;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1)
}
.buttonWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
button {
    font-size: 18px;
    letter-spacing: 4px;
    border: none;
    padding: 10px;
    color:#232c3d;
    background-color:#bccbe9;
    cursor: pointer;
   transition: 0.5s;

}
button:hover{
    background-color: #d5e3ff;
}
button.active{
    background-color:white;
}
.active{
    background-color:white;}
p{
    text-align: left;
    padding: 10px ;
}
.content{
    display: none;
    padding: 10px 20px;
}
.content.active{
    display: block;
}